<!DOCTYPE html>
<html lang="en" class="bg" ng-app="codehuntApp">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>CodeHunt</title>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
</head>
<body ng-controller="CodehuntCtrl">
	<form class="form-wrapper cf">
        <input type="text" placeholder="HTML, CSS, JS, Python,..." required>
        <button type="submit">Search</button>
    </form>
      <!-- push a new message into the array -->
    <ul>
      <li style="color:white" ng-repeat="resource in resources | orderBy:'upvotes':true">
        <!-- {{resource.name}}
        {{resource.language}}
        {{resource.cost}}
        {{resource.type}}
        votes: {{resource.upvotes}} -->
        {{resource}}
        <!-- {{resource.downvotes}} -->
        <!-- <input ng-model="resource.name" ng-change="resources.$save(resources)" /> -->
        <!-- <button ng-click="resources.$remove(resource)">X</button> -->
        <button ng-click="addVote(resource)">I like this!</button>
      </li>
    </ul>
      
    <form ng-submit="addResource(name, language, cost, type, upvotes, downvotes)">
      <input ng-model="name" />
      <input ng-model="language" />
      <input ng-model="cost" />
      <input ng-model="type" />
      <input ng-model="upvotes" type="number"/>
      <input ng-model="downvotes" type="number" />
      <button type="submit">add resource</button>
    </form>
  
<script>
  var app = angular.module("codehuntApp", ["firebase"]);
  app.controller("CodehuntCtrl",
 function($scope, $firebase) {
    var ref = new Firebase("https://codehunt.firebaseio.com/resources");
    var sync = $firebase(ref);
    $scope.resources = sync.$asArray();
    $scope.addResource = function(n,l,c,t,u,d) {
      $scope.resources.$add({name: n, language: l, cost: c, type: t, upvotes: u, downvotes: d});
    }
    $scope.addVote = function(resource) {
      // $scope.plusOne = $scope.resource."upvotes"++;
      // sync.$set($scope.resource."upvotes", plusOne);
      ref.child(resource.id+"/upvotes").once("value", function(snapshot){
        var data = snapshot.val();
        data++;
        ref.child(resource.id+"/upvotes").set(data);
      });
    }
  });


  function upvote(resource) {
    
  };
</script>
  
</body>
</html>